{% extends './body.html' %}

{% block title %}Index{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename="css/index.css")}} ">
{% endblock  %}

{% block container %}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h1>
            Kokoro libros
        </h1>
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        {% for category, message in messages %}
        
            <div class="alert alert-{{category}} alert-dismissible fade show" role="alert" style="font-size: 14px">
                <strong> {{ message }} </strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>

        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</div>

<hr>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h2>{{ data.titulo }}</h2>
    </div>
    {% if current_user.tipousuario.id == 1%}
    {% if data.libros_vendidos|length > 0 %}
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Libro</th>
                        <th>Unidades Vendidas</th>
                        <th>Precio Unitario</th>
                        <th>Total</th>
                    </tr>
                </thead>            
                <tbody>
                    {% set contador = namespace(total = 0) %}
                    {% for l in data.libros_vendidos %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td style="text-align: left; padding-left: 10%;">{{ l.titulo }} </td>
                        <td>{{ l.unidades_vendidas }} </td>
                        <td>{{ l.precio }} </td>
                        <td>{{ l.precio * l.unidades_vendidas }} </td>
                    </tr>
                    {% set contador.total = contador.total + l.precio * l.unidades_vendidas %}
                    {% endfor %}
                    <tr>
                        <td colspan="4"></td>
                        <td id="total">{{ contador.total }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h3>A&uacute;n no existen libros vendidos</h2>
    </div>
    
    {% endif %}
    {% else %}
    {% if data.compras|length > 0 %}
    <div class="row">
        {% for l in data.compras %}
        <div class="col-sm-12 col-md-6 col-lg-14 col-xl-4">
            <div class="card mb-4 shadow-sm">
                {% set url = 'img/portadas/' + l.libro.isbn + '.jpg' %}
                <img src="{{ url_for('static', filename=url)}}" class="card-img-top" height="auto" width="auto" alt="{{ l.libro.titulo }}">
                <div class="card-body">
                  <h5 class="card-title">{{ l.libro.titulo }} <span style="float:right">$ {{l.libro.precio}}</span></h5>
                  <p class="card-text">Comprado: {{ l.formatted_date() }}</p>
                </div>
              </div>
        </div>
        {% endfor %}
    {% else %}
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h3>A&uacute;n no has comprado ning&uacute;n libro</h2>
    </div>
    {% endif %}
    {% endif %}

</div>        
{% endblock %}